body {
    font-family: Arial;
    margin: 0;
    background: #f4f6f9;
}

header {
    background: #222;
    color: white;
    text-align: center;
    padding: 15px;
}

.container {
    width: 85%;
    margin: auto;
    padding: 20px;
}

h2 {
    margin-top: 30px;
}

/* FORM */
form {
    background: white;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
}

input, select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
}

button {
    background: #007bff;
    color: white;
    padding: 10px;
    border: none;
}

button:hover {
    background: #0056b3;
}

/* GRID */
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.card {
    background: white;
    padding: 15px;
    border-radius: 10px;
}

/* TABLE */
table {
    width: 100%;
    background: white;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
}
